*{
    margin: 0px;
    padding: 0px;
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    overflow: hidden;
}
::selection{
    background: #ffd700;
    color: #1a1a1a;
}
html{
    scroll-snap-type: y mandatory;
}
body{
    background-color: #333333;
    height: 100%;
}
#title{
    scroll-snap-align: start;
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: center;
    color: #ffd700;
    font-size: 5vw;
    font-style: italic;
    text-wrap: nowrap;
    justify-content:center;
    justify-items: center;
}
@media only screen and (max-width: 768px) {
    #title {
      font-size: 8vw;
    }
  }
nav{
    display:flex;
    width: fit-content;
    align-items: center;
    margin: auto;
    justify-content: center;
    text-wrap:nowrap;
}
nav ul li{
    display: inline-block;
    margin: auto;
    padding: 0.7em 1.2em;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-size: 1.5vw;
    background-color: #f2f2f2;
    transition: 0.3s ease;
    border-radius: 1.5em;
}
@media only screen and (max-width: 768px) {
    nav ul li {
      font-size: 1em;
    }
  }

nav ul li:hover{
    color: #f2f2f2;
    background-color: #1a1a1a;
    text-decoration: underline solid #ffd700;
    text-underline-offset: 0.3em;
    font-weight: bold;
    padding-inline: 2em;
    cursor: pointer;
    user-select: none;
}

#background{
    height: 100vh;
    max-height: 100%;
    background-image: url('../img/backgroundimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#onama{
    scroll-snap-align: start;
    text-align: center;
    color: #f2f2f2;
    font-size: 4em;
    padding: 0.5em;
    text-decoration: underline #ffd700;
}
.about{
    scroll-snap-align: start;
    color: #f2f2f2;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    width: fit-content;
    height: 80%;
    max-width: 50%;
    margin: auto; 
    margin-bottom: 5vh;
    padding: 3svh 5svh;
    background-color: rgba(153,153,153, 0.3);
    border-radius: 25px;
}
@media only screen and (max-width: 768px) {
    .about {
      font-size: 1em;
    }
  }
#up{
    display:flex;
    border: 1px solid #ffd700;
    border-radius: 50%;
    width: 30px;
    margin: auto;
    align-items: center;
    height: 30px;
    transition: 0.3s ease;
    padding: 1em;
}
#up:hover{
    background-color: #1a1a1a;
}
a{
    text-decoration: none;
    color: inherit;
}
.kontakt{
    scroll-snap-align: start;
    text-align: center;
    color: #f2f2f2;
    font-size: 2em;
    margin: auto;
    padding: 0.5em 0.5em;
}

.text{
    color: #f2f2f2;
    font-size: 1.8em;
    font-style: italic;
    text-align: center;
    width: auto;
    height: auto;
    max-width: 50%;
    margin: auto;
    margin-top: 5%; 
    padding: 1em 1em;
    background-color: rgba(51,51,51, 0.9);
    border-radius: 25px;
}
@media only screen and (max-width: 320px) {
    .text {
      font-size: 1.5em;
    }
  }
form{
    scroll-snap-align: center;
    text-align: center;
    color: #f2f2f2;
    border: 2px solid gold;
    width: fit-content;
    justify-content: center;
    margin: auto;
    margin-bottom: 5vh;
    padding: 20px 10px;
    border-radius: 20px;
}
#ime{
    color: #1a1a1a;
    background-color: #999999;
    border-radius: 20px;
    padding: 0.5em;
    font-size: large;
}
#prezime{
    color: #1a1a1a;
    background-color: #999999;
    border-radius: 20px;
    padding: 0.5em;
    font-size: large;
}
#email{
    color: #1a1a1a;
    background-color: #999999;
    border-radius: 20px;
    size: 10;
    padding: 0.5em;
    font-size: large;
}
#tel{
    color: #1a1a1a;
    background-color: #999999;
    border-radius: 20px;
    text-align: center;
    padding: 0.5em;
    font-size: large;
}
#mgs{
    color: #1a1a1a;
    background-color: #999999;
    border-radius: 20px;
}
textarea{
    color: #1a1a1a;
    background-color: #999999;
    border-radius: 20px;
    padding: 0.5em;
    font-size: large;
}
#submit{
    color: #f2f2f2;
    background-color: #999999;
    width: 80px;
    height: 30px;
    border-radius: 20px;
}
.container {
    scroll-snap-align: center;
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.image {
    display: block;
    width: 100%;
    height: 80vh;
    border-radius: 3em;
    margin: auto;
}
.overlay {
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: #1a1a1a;
    border-radius: 3em;
}
.container:hover .overlay {
    opacity: 1;
    border: 4px solid #999999;
}
.opis {
    color:#f2f2f2;
    font-size: 20px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.cena{
    color: #ffd700;
}
.kupi{
    background-color: #f2f2f2;
    color: #333333;
    border-radius: 2em;
    font-size: 1.5em;
    margin: 0.5em;
    padding: 0em 1em;
    transition: 0.3s ease;
}
.kupi:hover{
    background-color: #999999;
    color: #ffd700;
    cursor: pointer;
}